# Auto detect text files and perform LF normalization
* text=auto
*.js linguist-detectable=false
*.sql linguist-detectable=true
*.sql linguist-language=sql
*.my linguist-language=sql
*.css linguist-detectable=false
